body{
    margin: 0;
    padding: 0;
}
.product-card{

    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border: 2px solid;
    margin: 10px;
    border-radius: 5px;
    border-color: blue;
    width: 600px;
}
h1{
    text-align: center;
    color: black;
    margin: 0;
}
.col{
    display: flex;
    justify-content: center;
}

.forms{
    margin-left: 40px;
    border: 2px solid blue;
    width: 400px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}
.click{
    color: white;
    background-color: blue;
    border-radius: 5px;
    border-color: blue;
    width: 100px;
    height: 25px;
    
}
.click:hover{
    opacity: 0.5;
    transition: 1s;
}
.things{
    border-color: black;
    width: 40px;
    height: 20px;
    border-radius: 5px;
}
.header{
    display: flex;
    gap: 10px;
    padding-left: 30px;
}
.header a{
    color: blue;
    text-decoration: none; 
}
.header a:hover{
    opacity: 0.9;
    color: black;
    transition: 0.4s;
}
.register{
    padding: 30px;
}
.register div{
    padding: 5px;
}

.register button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: blue;
    width: 10%;
    height:5%;
}
.order-card{
    margin: 15px;
    padding-left: 10px;
    border: solid 2px blue;
    border-radius: 2px;
}